---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Company News - Wings Corrugator">
  <h1>Company News</h1>
  <p>Coming soon. We'll share insights on pipe extrusion technology.</p>
</Layout>