---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Downloads - Wings Corrugator">
  <h1>Downloads</h1>
  <p>Coming soon. We'll share insights on pipe extrusion technology.</p>
</Layout>