---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Technical Articles - Wings Corrugator">
  <h1>Technical Articles</h1>
  <p>Coming soon. We'll share insights on pipe extrusion technology.</p>
</Layout>